<div class="group">
	<p> Parking Allocation </p>

</div>
<div class="two">
	<br>
	<br>
	<button class="b1" routerLink="/booking">
    	Dashboard
    </button>
	<br>
	<button class="b1"  routerLink="/mybooking">
    	My Booking
    </button>
	<br>

	<button class="b1"  routerLink="/login" >
    Logout
    </button>


</div>
<div class="three">
	<div class="four">
		<table>
			<tr>
				<th> Vehicle no</th>
				<th> Parking name</th>
				<th> Parking time</th>
				<th> Parking slot</th>
				<th> Amount</th>
			</tr>

			<tr>
				<td>{{com.rcustomer_vechicle}}</td>
				<td>{{com.rparking_name}}</td>
				<td>{{com.rparkingtime}}</td>
				<td>{{com.rparkingslot}}</td>
				<td>{{com.ramount}}</td>
			</tr>
		</table>

	</div>
</div>