<div class="full">
	<div class="group">
		<p> Parking Allocation </p>

	</div>


	<div style="background-size:cover" class="back">

		<div class="log">
			<form class="input-group" [formGroup]="loginForm">
				<input type="text" class="input-field" placeholder="User name -- viki"     formControlName="name" required/>
				<div
					*ngIf="loginForm.controls['name'].invalid && (loginForm.controls['name'].dirty || loginForm.controls['name'].touched)">
					<div *ngIf="loginForm.controls['name'].errors.required">
						*Name is required.
					</div>
				</div>
				<br>
				<input type="password" class="input-field" placeholder="password -- 1234"
         formControlName="pass"  (focusout)="ckpass()"required/>
				<div
					*ngIf="loginForm.controls['pass'].invalid && (loginForm.controls['pass'].dirty || loginForm.controls['pass'].touched)">
					<div *ngIf="loginForm.controls['pass'].errors.required">
						*Password is required.
					</div>
				</div>

				<br>
				<br>
				<button routerLink="/booking"  [disabled]="loginForm.pristine || loginForm.invalid"class="sub-but">login</button><br>
				<button routerLink="/registration" class="sub-but">New User</button><br>
				<button routerLink="/adminlogin" class="sub-but">Admin login</button>
			</form>
			<br>


		</div>



		</div>
	</div>